/.DS_Store
/.vscode
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Library
/Logs
/PPv2URPConverters.csproj
/ProceduralDungeonGenerator.sln
/Temp
/Unity.AI.Navigation.Editor.ConversionSystem.csproj
/Unity.AI.Navigation.Editor.csproj
/Unity.AI.Navigation.Updater.csproj
/Unity.AI.Navigation.csproj
/Unity.Burst.CodeGen.csproj
/Unity.Burst.Editor.csproj
/Unity.Burst.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.Collections.CodeGen.csproj
/Unity.Collections.Editor.csproj
/Unity.Collections.csproj
/Unity.InputSystem.ForUI.csproj
/Unity.InputSystem.TestFramework.csproj
/Unity.InputSystem.csproj
/Unity.Mathematics.Editor.csproj
/Unity.Mathematics.csproj
/Unity.Multiplayer.Center.Common.csproj
/Unity.Multiplayer.Center.Editor.csproj
/Unity.PerformanceTesting.Editor.csproj
/Unity.PerformanceTesting.csproj
/Unity.PlasticSCM.Editor.csproj
/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/Unity.RenderPipelines.Core.Editor.Shared.csproj
/Unity.RenderPipelines.Core.Editor.csproj
/Unity.RenderPipelines.Core.Runtime.Shared.csproj
/Unity.RenderPipelines.Core.Runtime.csproj
/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/Unity.RenderPipelines.GPUDriven.Runtime.csproj
/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/Unity.RenderPipelines.Universal.2D.Runtime.csproj
/Unity.RenderPipelines.Universal.Config.Runtime.csproj
/Unity.RenderPipelines.Universal.Editor.csproj
/Unity.RenderPipelines.Universal.Runtime.csproj
/Unity.RenderPipelines.Universal.Shaders.csproj
/Unity.Rendering.LightTransport.Editor.csproj
/Unity.Rendering.LightTransport.Runtime.csproj
/Unity.Rider.Editor.csproj
/Unity.Searcher.Editor.csproj
/Unity.ShaderGraph.Editor.csproj
/Unity.ShaderGraph.Utilities.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.Timeline.Editor.csproj
/Unity.Timeline.csproj
/Unity.VisualScripting.Core.Editor.csproj
/Unity.VisualScripting.Core.csproj
/Unity.VisualScripting.Flow.Editor.csproj
/Unity.VisualScripting.Flow.csproj
/Unity.VisualScripting.SettingsProvider.Editor.csproj
/Unity.VisualScripting.Shared.Editor.csproj
/Unity.VisualScripting.State.Editor.csproj
/Unity.VisualScripting.State.csproj
/Unity.VisualStudio.Editor.csproj
/UnityEditor.TestRunner.csproj
/UnityEditor.UI.csproj
/UnityEngine.TestRunner.csproj
/UnityEngine.UI.csproj
/UserSettings